<h1>Classes and enums of the library </h1>

<h2 id="ngxworkspace">Classes / interfaces:</h2>
<h3>GT_Action</h3>
<p>Class used in the tables for the actions. Can have conditions that will be executed and will disable the action or replace it for another.
</p>
<pre>
    <code class="language-js">
export class GT_Action &#123;
    /** Catalog of predefined actions for the tables */
    public static catalog: object =
        &#123;
            delete: &#123; description: 'Delete element', icon: 'clear' },
            autoDelete: &#123; description: 'Delete element', icon: 'clear' },
            edit: &#123; description: 'Edit element', icon: 'edit' },
            inspect: &#123; description: 'Inspect element', icon: 'remove_red_eye' },
            search: &#123; description: 'Search element', icon: 'search' },
            emptySpot: &#123; description: '', icon: '' },
        };
        
    /** Observer so the actionElement can subscribe it */
    conditionObserver: BehaviorSubject&#60;number> | null = null;
    /** Condiciones que puede tener una GTAccion */
    conditions: GT_ConditionAction[] = [];
    /** In case the action has condition, to replace it for this one */
    replaceAction?: GT_Action;
    constructor(
        public purpose: string,
        public description?: string,
        public icon?: string,
        public disabled: boolean = false
        
    )


    /**
     * Add a list of conditions to a list of actions
     *
     * @param conditions Condition to bind
     * @param actions Actions that will receive the conditions
     */
    static addConditionToActions(conditions: GT_ConditionAction[], actions: GT_Action[]): void 

        /**
    * Functions that receives a list of purposes of the actions, look in the catalogo and return the transformation
    *
    * @param purposes List of purposes of the actions.
    * @returns List of actions
    */
    static parseActions(purposes: string[]): GT_Action[] 

        </code>
</pre>


<h3>GT_ConditionType, GT_ConditionLogic, GT_ConditionAction</h3>
<p>Enums and class used to configurate the condition of the actions of the tables</p>
<pre>
    <code class="language-js">

        /** List of conditions available */
        export enum GT_ConditionType &#123;
            BOOLEAN = 'boolean',
            EQUAL = 'equal',
            DIFFERENT = 'different',
        }
        
        /** Logic of the condition */
        export enum GT_ConditionLogic &#123;
            REQUIRED = 'required',
            MISSING = 'missing'
        }
        
        
        /** Condition of the action */
        export class GT_ConditionAction &#123;
            /** The final result of the condition.  */
            result: boolean = false;
            constructor(
                /** Property that will be evaluated  */
                public property: string,
                /** Condition type that will determine how the condition will be evaluated */
                public conditionType: GT_ConditionType,
                /** Condition logic, if the type was boolean, has to be required or missing, if it was equal or different, this will represent the value that with the property
                 * has to be different or equal
                 */
                public conditionLogic: GT_ConditionLogic | any
            ) &#123;
            }
        }

        </code>
    </pre>


<h3>GF_APIRequest</h3>
<p>Class used in execute api request from the generic form. For example if the form of the type creation or edition,
    could be assigned to the GF_Form and
    in the dialog of the form when the user save the form, its not going to close till the request its executed and will
    retrieve the result
</p>
<pre>
        <code class="language-js">
export class GF_APIRequest &#123;
    constructor(
        /** Request to execute */
        public request: Function,
        /**Params that could need the query, it can be used the literal 'OBJECT' to pass the whole object. */
        public params: string[] = [],
        /** List of pair key value that will be setted in the element and can be used as params */
        public parametersToElement?: &#123;},
        /** List of pair key value that can be used as params directly to the Path. They do no add information to the element */
        public parametersToPath?: &#123;}
    ) &#123; }
}
</code>
</pre>

