<h1><a href="https://aramirezj.github.io/ngx-generic-tables/">ngx-generic-tables</a></h1>
<h1>What is:</h1>
<p>The purpose of this library is to offer a wide selection of generic tools for forms powered by material through standalone components and directives</p>
<h2 id="ngxworkspace">Requirements:</h2>
<p><a href="https://www.npmjs.com/package/@angular/material">Angular material</a> installed in your project</p>
<h2 id="ngxworkspace">Installation:</h2>

<p>The recomended version is Angular 15</p>
<p>To install it, you have to execute the command <span class="comando">npm install ngx-generic-tables</span></p>
<p>To start using it, depends of the module you want to use, you have to import the module</p>

<h2 id="development-server">Usage:</h2>
<p>Depends of which utility are you are using, visit the sections using the side menu</p>

<h2 id="development-server">Language support:</h2>
<p>Currently available in english and spanish. The library will detect the locale through your <span class="comando">&#123;provide: LOCALE_ID, useValue: YOUR_LOCALE_ID }</span> with the desired language</p>
